<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
	<title>DataTables example - File export</title>
	<link rel="shortcut icon" type="image/png" href="/media/images/favicon.png">
	<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">
	<link rel="stylesheet" type="text/css" href="/media/css/site-examples.css?_=0602f7ec58abe00302963423bf7a8d5a">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/buttons/1.7.0/css/buttons.dataTables.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/datetime/1.0.3/css/dataTables.dateTime.min.css">
	<style type="text/css" class="init">
		th {
			white-space: nowrap;
		}
	</style>
	<script type="text/javascript" src="/media/js/site.js?_=30648b1410332bada11fa3ff8050ff88"></script>

	<script type="text/javascript"
		src="/media/js/dynamic.php?comments-page=extensions%2Fdatetime%2Fexamples%2Fintegration%2Fdatatables.html"
		async></script>

	<script type="text/javascript"
		src="/media/js/dynamic.php?comments-page=examples%2Fadvanced_init%2Ffooter_callback.html" async></script>


	<script type="text/javascript"
		src="/media/js/dynamic.php?comments-page=extensions%2Fbuttons%2Fexamples%2Finitialisation%2Fexport.html"
		async></script>
	<script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/buttons/1.7.0/js/dataTables.buttons.min.js"></script>

	<script type="text/javascript" language="javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/datetime/1.0.3/js/dataTables.dateTime.min.js"></script>

	<script type="text/javascript" language="javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.html5.min.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/buttons/1.7.0/js/buttons.print.min.js"></script>


	<script type="text/javascript" language="javascript" src="../resources/demo.js"></script>


	<script type="text/javascript" language="javascript" src="../../../../examples/resources/demo.js"></script>





	<script type="text/javascript" class="init">

		$(document).ready(function () {
			$('#example').DataTable({
				dom: 'Bfrtip',
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				],

				"footerCallback": function (row, data, start, end, display) {
					var api = this.api(), data;

					// Remove the formatting to get integer data for summation
					var intVal = function (i) {
						return typeof i === 'string' ?
							i.replace(/[\$,]/g, '') * 1 :
							typeof i === 'number' ?
								i : 0;
					};

					// Total over all pages
					total = api
						.column(4)
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);

					// Total over this page
					pageTotal = api
						.column(4, { page: 'current' })
						.data()
						.reduce(function (a, b) {
							return intVal(a) + intVal(b);
						}, 0);

					// Update footer
					$(api.column(4).footer()).html(
						'Rs' + pageTotal + ' ( Rs' + total + ' total)'
					);
				}

			});

		});



	</script>
	
		                     	<script>
									$(function(){
										var dttoday = new Date();
										var month = dttoday.getMonth()+1;
										var day = dttoday.getDate();
										var year = dttoday.getFullYear();
										if(month<10)
											month = '0' + month.toString();
										if(day<10)
											day = '0' + day.toString();
										var maxdate = year + '-' + month + '-' + day;
										$('.selectdate').attr('max',maxdate);
									})
								</script>


								<script>
									function selectdate(){
										var StartDate= document.getElementById('startdate').value;
										document.getElementById('EndDate').setAttribute('min',StartDate)
										console.log(StartDate)
									}
								</script>


</head>



<!-- MAIN CONTENT-->
<div class="main-content">
	<div class="section__content section__content--p30">
		<div class="container-fluid">
			<div class="row">
				<div class="container">

					<div class="row">
						<h2 class="text-center mt-3">SALES REPORT</h2>
						<div class="col-sm-6 p-3" style="margin-left: 3px;">
							<form action="/admin/salesreportdatesearch">
							{{!-- <label for="birthday">Date</label> --}}
							<input  type="date" id="startdate" class="selectdate" onchange="selectdate()"  name="StartDate">
							
							<input style="margin-left: 1rem;" type="date" id="EndDate"  class="selectdate"  name="enddate" >
							<input style="margin-left: 1rem;" class="btn btn-primary" type="submit">
							</form>
						</div>
					
					</div>

						

					<div class="row">
						<div class="col-sm-6 p-3" style="margin-left: 3px; padding: 10px; margin-left: 10px;">
							<button onclick="window.location.href='/admin/salesreport'" type="button" class="btn btn-success" >All</button>
							<button onclick="window.location.href='/admin/salesreportonperiod?value=m'" type="button" class="btn btn-success" >Mounthly</button>
							<button onclick="window.location.href='/admin/salesreportonperiod?value=w'" type="button" class="btn btn-success">Weekly</button>
							<button onclick="window.location.href='/admin/salesreportonperiod?value=d'" type="button" class="btn btn-success">Daily</button>
							</div>
					</div>


					<div class="row">
						<div class="col-md-12">

							<div class="fw-container">


								<div class="fw-body">
									<div class="content">
										<h3 class="page_title">File export</h3>

										<div class="demo-html">

											{{!-- <table border="0" cellspacing="5" cellpadding="5">
												<tr>
													<td>Minimum date:</td>
													<td><input type="text" id="min" name="min"></td>
												</tr>
												<tr>
													<td>Maximum date:</td>
													<td><input type="text" id="max" name="max"></td>
												</tr>
											</table> --}}




											<table id="example" class="display nowrap" style="width:100%">
												<thead>
													<tr>
														<th>Order id</th>
														<th>User Email</th>
														<th>Payment Method</th>
														<th>Date</th>
														<th>Order Amount</th>
													</tr>
												</thead>
												<tbody>
													{{#each items}}
													<tr>
														<td>{{this._id}}</td>
														<td>{{this.useremail}}</td>
														<td>{{this.paymentmethod}}</td>
														<td>{{this.date}}</td>
														<td>{{this.totalprice}}</td>
													</tr>
													{{/each}}

												</tbody>
												<tfoot>
													<tr>
														<th colspan="4" style="text-align:right">Total:</th>
														<th></th>
													</tr>
												</tfoot>
											</table>
										</div>
									</div>
								</div>
							</div>

							<script type="text/javascript">
								var _gaq = _gaq || [];
								_gaq.push(['_setAccount', 'UA-365466-5']);
								_gaq.push(['_trackPageview']);

								(function () {
									var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
									ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
									var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
								})();
							</script>





						</div>
					</div>
				</div>


			</div>

			<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
						</div>
						<div class="modal-body">

							<div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span>
								Are you
								sure you want to delete this Record?</div>

						</div>
						<div class="modal-footer ">
							<button type="button" class="btn btn-default" data-dismiss="modal"><span
									class="glyphicon glyphicon-remove"></span> No</button>
							<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Delete</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>













		</div>
	</div>
</div>


