



        <!--====== App Content ======-->
        <div class="app-content">

            <!--====== Section 1 ======-->
            <div class="u-s-p-y-90">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <div class="shop-w-master">
                                <h1 class="shop-w-master__heading u-s-m-b-30"><i class="fas fa-filter u-s-m-r-8"></i>

                                    <span>FILTERS</span>
                                </h1>
                                <div class="shop-w-master__sidebar sidebar--bg-snow">
                                    <div class="u-s-m-b-30">
                                        <div class="shop-w">
                                            <div class="shop-w__intro-wrap">
                                                <h1 class="shop-w__h">CATEGORY</h1>

                                                <span class="fas fa-minus shop-w__toggle" data-target="#s-category"
                                                    data-toggle="collapse"></span>
                                            </div>
                                            <div class="shop-w__wrap collapse show" id="s-category">
                                                <ul class="shop-w__category-list gl-scroll">
                                                    <li class="has-list"></li>


                                                <li class="has-list">
                                                        <a href="/productlist">Allproducts</a>
                                                        
                            
                                                    </li>

                                                
                                                {{#each catandbrand}}
                                                    <li class="has-list">
                                                        <a href="/productlist?category={{this.category}}&value=1">{{this.category}}</a>
                                                        {{!-- <a href='{{url}}?/&value=1'>1</a> --}}
                                                        <span
                                                            class="js-shop-category-span fas fa-plus u-s-m-l-6"></span>
                                                        <ul>
                                                            {{#each brand}}
                                                            <li>
                                                                <a href="/productlist?category={{../this.category}}&brand={{this}}&value=1">{{this}}</a>
                                                            </li>
                                                            {{/each}}
                                                        </ul>
                                                    </li>
                                                 {{/each}}

                                                </ul>
                                                </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12">
                            <div class="shop-p">
                                <div class="shop-p__toolbar u-s-m-b-30">

                                    <div class="shop-p__tool-style">
                                        <div class="tool-style__group u-s-m-b-8">

                                            <span class="js-shop-grid-target is-active">Grid</span>

                                            <span class="js-shop-list-target">List</span>
                                        </div>
                                        {{!-- <form>
                                            <div class="tool-style__form-wrap">
                                                <div class="u-s-m-b-8"><select
                                                        class="select-box select-box--transparent-b-2">
                                                        <option>Show: 8</option>
                                                        <option selected>Show: 12</option>
                                                        <option>Show: 16</option>
                                                        <option>Show: 28</option>
                                                    </select></div>
                                                <div class="u-s-m-b-8"><select
                                                        class="select-box select-box--transparent-b-2">
                                                        <option selected>Sort By: Newest Items</option>
                                                        <option>Sort By: Latest Items</option>
                                                        <option>Sort By: Best Selling</option>
                                                        <option>Sort By: Best Rating</option>
                                                        <option>Sort By: Lowest Price</option>
                                                        <option>Sort By: Highest Price</option>
                                                    </select></div>
                                            </div>
                                        </form> --}}
                                    </div>
                                </div>
                                <div class="shop-p__collection">
                                    <div class="row is-grid-active">

                                        {{!-- getting product from database and passing --}}



                                        {{#each userproduct}}
                                        <div class="col-lg-4 col-md-6 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    {{!-- <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                                        href="/productdetail/{{this._id}}">

                                                        <img class="aspect__img  text-center" style="width: 135px; height: 250px; margin-left: 60px;"
                                                            src="/productimages/1{{this._id}}.jpeg" alt=""></a> --}}


                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block"
                                                        href="/productdetail/{{this._id}}">

                                                        <img class="aspect__img  text-center" style="width: 180px; height: 250px; margin-left: 40px;"
                                                            src="/productimages/1{{this._id}}.jpeg" alt=""></a>


                                                            
                                                    <div class="product-m__quick-look">

                                                        <a class="fas fa-search" data-modal="modal"
                                                            data-modal-id="#quick-look" data-tooltip="tooltip"
                                                            data-placement="top" title="Quick Look"></a>
                                                    </div>
                                                    {{!-- add to cart button --}}
                                                    <div class="product-m__add-cart">
                                                        <a onclick="addtocart('{{this._id}}')" class="btn--e-brand" data-modal="modal"
                                                            data-modal-id="#add-to-cart" >Add to Cart</a>

                                                            {{!-- <button onclick="addtocart('{{this._id}}')" class="btn btn-primary">Add to Cart</button> --}}
                                                           
                                                    </div>
                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">
                                                        <a href="shop-side-version-2.html">{{this.category}}</a>
                                                    </div>
                                                    <div class="product-m__name">
                                                        <a href="product-detail.html">{{this.productname}}</a>
                                                    </div>



                                                    {{#if this.categoryoffer}}
                                                     <span class="product-o__price">Rs.{{this.categoryofferprice}}
                                                    <span class="product-o__discount">Rs.{{this.productprice}}</span></span>
                                                    {{else}}
                                                    {{#if this.prodoffer}}
                                                    <span class="product-o__price">Rs.{{this.productofferprice}}
                                                    <span class="product-o__discount">Rs.{{this.productprice}}</span></span>
                                                    {{else}}
                                                     <span class="product-o__price">Rs.{{this.productprice}}
                                                    {{/if}}
                                                    {{/if}}


                                                


                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span>{{this.productdescription}}</span>
                                                        </div>
                                                        <div class="product-m__wishlist">

                                                            <a class="far fa-heart" href="#" data-tooltip="tooltip"
                                                                data-placement="top" title="Add to Wishlist"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        {{/each}}




                                    </div>
                                </div>
                                <div class="u-s-p-y-60">

                                    <!--====== Pagination ======-->
                                    <ul class="shop-p__pagination">
                                         <li class="is-active">
                                            <a class="fas fa-angle-left" href='{{prevpageurl}}'></a>
                                        </li>
                                        <li >
                                            <a href='{{url}}&value=1'>1</a>
                                        </li>
                                        <li>

                                            <a href='{{url}}&value=2'>2</a>
                                        </li>
                                        <li>

                                            <a href='{{url}}&value=3'>3</a>
                                        </li>
                                        {{!-- <li>

                                            <a href='/productlist?value=4'>4</a>
                                        </li> --}}
                                        <li>

                                            <a class="fas fa-angle-right" href='{{nextpageurl}}'></a>
                                        </li>
                                    </ul>
                                    <!--====== End - Pagination ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->
        </div>
        <!--====== End - App Content ======-->












